In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import session_info
import ydata_profiling as pp
import ast

In [7]:
# Leer el archivo generado por ETL
df = pd.read_csv('DATASET\Movies_ETL_ILB.csv')

In [8]:
df.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'title', 'vote_average',
       'vote_count', 'return', 'release_year', 'genres_name', 'idgenres',
       'pcomp_names', 'idpcomp', 'pcountries_names', 'iso_pcountries',
       'spokelang_name', 'iso_spokelang', 'namescast', 'idcast', 'directors'],
      dtype='object')

In [9]:
def count_unique_values_num(data, column_name):
    # Obtener los valores únicos y su recuento
    unique_values = data[column_name].value_counts().reset_index()
    unique_values.columns = [column_name, 'Count']
    unique_values = unique_values.sort_values(by=column_name)

    return unique_values

In [10]:
column_name = 'namescast'

In [11]:
df = df.replace("\[", '', regex=True)
df = df.replace("\]", '', regex=True)
df = df.replace("'", '', regex=True)
df = df.replace('"', '', regex=True)

In [12]:
def count_unique_values_text(data, column_name):
    # Obtener los valores únicos y su recuento
    unique_values = data[column_name].value_counts().reset_index()
    unique_values.columns = [column_name, 'Count']
    unique_values = unique_values.sort_values(by='Count', ascending=False)

    return unique_values

In [13]:
result = count_unique_values_text(df, column_name)

In [14]:
result.head(3)

          namescast  Count
0                     2348
1  Georges MÃ©liÃ¨s     24
2     Louis Theroux     15

In [15]:
df.head(7)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,title,...,idgenres,pcomp_names,idpcomp,pcountries_names,iso_pcountries,spokelang_name,iso_spokelang,namescast,idcast,directors
0,30000000.0,862,en,"Led by Woody, Andys toys live happily in his r...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,...,"16, 35, 10751",Pixar Animation Studios,3,United States of America,US,English,en,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","31, 12898, 7167, 12899, 12900, 7907, 8873, 111...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015540,1995-12-15,262797249.0,104.0,Released,Jumanji,...,"12, 14, 10751","TriStar Pictures, Teitler Film, Interscope Com...","559, 2550, 10201",United States of America,US,"English, FranÃ§ais","en, fr","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","2157, 8537, 205, 145151, 5149, 10739, 58563, 1...",Joe Johnston
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Grumpier Old Men,...,"10749, 35","Warner Bros., Lancaster Gate","6194, 19464",United States of America,US,English,en,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","6837, 3151, 13567, 16757, 589, 16523, 7166",Howard Deutch
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,...,"35, 18, 10749",Twentieth Century Fox Film Corporation,306,United States of America,US,English,en,"Whitney Houston, Angela Bassett, Loretta Devin...","8851, 9780, 18284, 51359, 66804, 352, 87118, 3...",Forest Whitaker
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,...,35,"Sandollar Productions, Touchstone Pictures","5842, 9195",United States of America,US,English,en,"Steve Martin, Diane Keaton, Martin Short, Kimb...","67773, 3092, 519, 70696, 59222, 18793, 14592, ...",Charles Shyer
5,60000000.0,949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,1995-12-15,187436818.0,170.0,Released,Heat,...,"28, 80, 18, 53","Regency Enterprises, Forward Pass, Warner Bros.","508, 675, 6194",United States of America,US,"English, EspaÃ±ol","en, es","Al Pacino, Robert De Niro, Val Kilmer, Jon Voi...","1158, 380, 5576, 10127, 3197, 6200, 15851, 158...",Michael Mann
6,58000000.0,11860,en,An ugly duckling having undergone a remarkable...,6.677277,1995-12-15,0.0,127.0,Released,Sabrina,...,"35, 10749","Paramount Pictures, Scott Rudin Productions, M...","4, 258, 932, 5842, 14941, 55873, 58079","Germany, United States of America","DE, US","FranÃ§ais, English","fr, en","Harrison Ford, Julia Ormond, Greg Kinnear, Ang...","3, 15887, 17141, 4301, 12957, 8937, 16554, 344...",Sydney Pollack